.candle-chart {
  border: 1px solid black;
}

.left-axis-line,
.bottom-axis-line {
  stroke: #222;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.ticks {
  stroke: #ccc;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.tick-price {
  fill: #ccc;
  font-size: 12px;
}

.candle-wick {
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.candle-wick.up,
.candle-body.up {
  stroke: green;
  fill: green;
}

.candle-wick.down,
.candle-body.down {
  stroke: red;
  fill: red;
}
